
<app-tic-tac-toe></app-tic-tac-toe>


<!--<app-pretty-text titulo="Soy un texto bonito 1"></app-pretty-text>

Número 1:
<input type="number" [(ngModel)]="numero1">
Número 2:
<input type="number" [(ngModel)]="numero2">
<app-pretty-text titulo="Soy un texto bonito 2"></app-pretty-text>
<hr>
<h1>Resultados</h1>
Suma - {{sumar()}}
<br>
Resta - {{restar()}}
<br>
Multiplicación - {{multiplicar()}}
<br>
División - {{dividir()}}

<app-pretty-text titulo="Soy un texto bonito 3">
  <h1>Dentro del componente</h1>
</app-pretty-text>

<button (click)="sumar()" >Sumar</button>-->
