.l-label{
margin: 36px;
align-self: center;
justify-content: center;
}
.l-input{
  width: 200px;
  height: 25px;
  font-size: 22px;
  margin: 10px;
}
.l-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
